/* 
================
Variables
================
*/
:root {
  --primaryBackgroud: rgb(87, 69, 95);
  --primaryColor: #548687;
  --primaryWhite: #fff;
  --transition: all 0.5s linear;
  --spacing: 0.3rem;
  --transformScale: scale(1.02);
  --btnColor: #fe7f2d;
}
/* 
================
Global-styles
================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    center/cover;
  background-attachment: fixed;
}
.login__btn:focus,
.form__btn--close:focus,
.backToTop:focus,
.form__btn--transfer:focus,
.form__btn--loan:focus,
.btn--sort:focus,
.form__btn--loan:focus,
.login__btn:focus {
  outline: none;
}

/* 
================
Navigation
================
*/
nav {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  background: var(--primaryColor);
  object-fit: cover;
  color: var(--primaryWhite);
  letter-spacing: var(--spacing);
  height: 3.5rem;
  border: transparent;
  cursor: default;
  margin-bottom: -1px;
}

.rBank {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-left: 0.1rem;
  margin-right: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.login {
  display: flex;
  align-items: center;
  width: 45vw;
  height: 3.5rem;
  background: var(--primaryColor);
  border-radius: 1rem;
  opacity: 1;
  border: transparent;
  transform: translateY(-100vh);
}

.login__input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: auto;
  max-width: 10rem;
  border: none;
  font-family: inherit;
  width: 80%;
  height: 2rem;
  color: var(--primaryBackgroud);
  transition: var(--transition);
  border-radius: 1rem;
  text-align: center;
}
.login__input {
  margin-right: 0;
}
.login__input--pin {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.login__input:focus {
  outline: none;
}

.login__btn {
  transform: translateY(-100vh);
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  background: var(--btnColor);
  color: var(--primaryWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}
.login__input-hidden,
.login__btn-hidden {
  transform: translateY(0);
}
/* Menu btn */
.menu__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3rem;
  height: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 1rem;
  padding: 5px;
  background: var(--btnColor);
  box-shadow: 0px 0 3px 1px rgb(255, 255, 255);
}
.menu__btn-show {
  transform: translateY(0);
}

.menu__btn-hidden {
  transform: translateY(-500%);
}

.line {
  justify-self: center;
  align-self: center;
  background: var(--primaryWhite);
  border-radius: 1rem;
  border: transparent;
  height: 5px;
  width: 30px;
  margin: 2px;
}

.menu-links {
  height: 100vh;
  width: 100%;
  background: var(--primaryColor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  position: fixed;
  clip-path: circle(100px at 100% -50%);
  -webkit-clip-path: circle(100px at 100% -50%);
  transition: var(--transition);
  padding: 0 1rem 6rem 1rem;
}
.menu-links a {
  font-weight: 600;
  font-size: 2rem;
  color: var(--primaryWhite);
  text-decoration: none;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.menu-links-open {
  clip-path: circle(1200px at 100% -50%);
  -webkit-clip-path: circle(1200px at 100% -50%);
  z-index: 2;
}

/* 
================
Media-Queries
================
*/
@media screen and (max-width: 1200px) {
  .login {
    margin-right: -4rem;
  }
  .message-centar {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    margin-bottom: 4rem;
  }
  .balance {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    margin-bottom: 4rem;
  }
  .movements {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
  }
  .summary {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    margin-bottom: 4rem;
  }
  .operation--transfer {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    margin-bottom: 4rem;
  }
  .operation--loan {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    margin-bottom: 4rem;
  }
  .operation--close {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    margin-bottom: 4rem;
  }
  .backToTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
  }
}

@media (min-width: 1201px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c f"
      "c g"
      "d e"
      "h h";
  }
  .menu__btn {
    display: none;
  }
  .message-centar {
    margin-left: auto;
    margin-right: 1rem;
    min-width: 35rem;
    margin-bottom: 1rem;
  }
  .balance {
    min-width: 35rem;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .movements {
    min-width: 35rem;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: -13rem;
    overflow-y: hidden;
    max-height: 39rem;
  }
  .summary {
    margin-top: 11rem;
    max-height: 8rem;
    min-width: 35rem;
    margin-left: auto;
    margin-right: 1rem;
  }
  .operation--transfer {
    min-width: 35rem;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .operation--loan {
    min-width: 35rem;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .operation--close {
    min-width: 35rem;
    margin-right: auto;
  }
  .backToTop {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .login__btn:hover,
  .form__btn--close:hover,
  .backToTop:hover,
  .form__btn--transfer:hover,
  .form__btn--loan:hover,
  .btn--sort:hover,
  .form__btn--loan:hover,
  .login__btn:hover {
    transition: var(--transition);
    background: var(--primaryWhite);
    color: var(--btnColor);
  }
}

/* 
================
Main-app
================
*/
.app-hidden {
  transform: translateX(-250rem);
  position: absolute;
}

.app {
  padding: 2rem;
  transition: all 2.5s ease-in-out;
  opacity: 1;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: -2rem; */
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    center/cover;
}
/* 
================
Message-centar
================
*/
.message-centar {
  grid-area: a;
  background-color: var(--primaryColor);
  border-radius: 1rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--primaryWhite);
  padding: 0.5rem 0.7rem;
  cursor: default;
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
}
.message__label {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.logout-timer {
  width: 100%;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--primaryWhite);
  border-radius: 1rem;
  padding: 0.2rem;
  background: linear-gradient(rgb(55, 158, 24), rgb(0, 0, 0, 0.3));
}
.new__message {
  width: 100%;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--primaryWhite);
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 0.2rem;
  background: linear-gradient(rgb(55, 158, 24), rgb(0, 0, 0, 0.3));
  opacity: 0;
}

/* 
================
Balance
================
*/
.balance {
  grid-area: b;
  text-align: center;
  padding: 1rem;
  background: var(--primaryColor);
  border-radius: 1rem;
  transition: var(--transition);
  cursor: default;
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
}
.welcome {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--primaryWhite);
}

.balance__label {
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--primaryWhite);
}

.balance__date {
  color: var(--primaryWhite);
}

.balance__value {
  color: var(--primaryWhite);
  font-weight: 600;
  background: linear-gradient(rgb(55, 158, 24), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
  border-radius: 1rem;
  padding: 0.3rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

/* 
================
Movements
================
*/
.movements {
  grid-area: c;
  background-color: var(--primaryColor);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: var(--transition);
  cursor: default;
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
}

.movements__row {
  padding: 2.9px 0 2.9px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primaryBackgroud);
}

.movements__type--deposit {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--primaryWhite);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 0.7rem;
  background: linear-gradient(rgb(55, 158, 24), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
  font-weight: 600;
}
.movements__type--withdrawal {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--primaryWhite);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 0.7rem;
  background: linear-gradient(rgb(238, 66, 36), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
  font-weight: 600;
}

.movements__value {
  font-weight: 600;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 0.7rem;
  color: var(--primaryWhite);
  padding: 0.2rem;
  border-radius: 10px;
  background: linear-gradient(rgba(87, 69, 95, 1), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
}
/* 
================
Summary
================
*/

.summary {
  grid-area: d;
  background: var(--primaryColor);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: var(--transition);
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}
.summary__label {
  max-height: 2.5rem;
  margin-left: 0.7rem;
  color: var(--primaryWhite);
  padding: 0.2rem;
  border-radius: 1rem;
  background: linear-gradient(rgba(87, 69, 95, 1), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
}
.summary__value {
  max-height: 2.5rem;
  color: var(--primaryWhite);
  font-weight: 600;
  margin-right: auto;
}
.summary__value--in {
  background: linear-gradient(rgb(55, 158, 24), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
  border-radius: 1rem;
  padding: 0.2rem;
  margin-right: 0;
}
.summary__value--out {
  background: linear-gradient(rgb(238, 66, 36), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
  border-radius: 1rem;
  padding: 0.2rem;
  margin-right: auto;
}
.summary__value--interest {
  background: linear-gradient(rgb(55, 158, 24), rgba(84, 134, 135, 1)),
    var(--primaryBackgroud);
  border-radius: 1rem;
  padding: 0.3rem;
  margin-right: 0.7rem;
}

.btn--sort {
  align-self: flex-end;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  background: var(--btnColor);
  color: var(--primaryWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}

/* 
================
Transfer money
================
*/
.operation--transfer {
  grid-area: f;
  border-radius: 1rem;
  background: var(--primaryColor);
  padding: 1rem 0 0 0;
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
}
.form--transfer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--primaryBackgroud);
  transition: var(--transition);
  text-align: center;
}
.form__label {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primaryWhite);
  letter-spacing: var(--spacing);
}
.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 60%;
  height: 2rem;
  color: var(--primaryBackgroud);
  transition: var(--transition);
  border-radius: 1rem;
  text-align: center;
}
.form__input:focus {
  outline: none;
  transform: var(--transformScale);
  border-bottom: 2px solid var(--btnColor);
  transition: var(--transition);
}
.form__input::placeholder {
  color: #56445d;
  font-family: inherit;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}
.form__input:hover {
  border-bottom: 2px solid var(--btnColor);
  transition: var(--transition);
  transform: var(--transformScale);
}
.form__btn--transfer {
  margin-top: 1rem;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  background: var(--btnColor);
  color: var(--primaryWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}

/* 
================
Loan
================
*/
.operation--loan {
  padding: 1rem 0 0 0;
  grid-area: g;
  background: var(--primaryColor);
  border-radius: 1rem;
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
}
.form__label--loan {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.form__btn--loan {
  margin-top: 1rem;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  background: var(--btnColor);
  color: var(--primaryWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}

/* 
================
Close-acc
================
*/
.operation--close {
  padding: 1rem 0 0 0;
  grid-area: e;
  background: var(--primaryColor);
  border-radius: 1rem;
}
.form__label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__btn--close {
  margin-top: 1rem;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  background: var(--btnColor);
  color: var(--primaryWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}
/* 
================
Back to top
================
*/

.backToTop {
  grid-area: h;
  width: 200px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-transform: uppercase;
  background: var(--btnColor);
  color: var(--primaryWhite);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}

/* 
================
Footer
================
*/
footer {
  cursor: default;
  display: flex;
  position: fixed;
  bottom: 0;
  margin-left: 0;
  background: #0c0a09;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

footer p {
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: var(--spacing);
  color: var(--primaryWhite);
}
